{% for post in posts %}
{% if post.metadata.has_key('type') and post.metadata['type'] == 'refer'%}
<div class="post ref-post">
  <h2 class="title"><a target="_blank" href="{{ post.metadata['refer_url'] }}">● {{ post.title }}</a><span> →</span>{% if post.metadata.has_key('refer_domain') %}<span class="source">({{ post.metadata['refer_domain'] }})</span>{% endif %}
  <span class="date">{{ post.date | date('%B %d, %Y') }}</span></h2>
  <div class="comment-body">
    {{ post | auto_content }}
  </div>
</div>
{% else %}
<div class="post link-title-post" style="cursor:pointer"; onclick="location.href='{{post.url}}#content-start';">
  <h2 class="title">● {{ post.title }}<span class="date">{{ post.date | date('%B %d, %Y') }}</span></h2>
  <div class="post-body">
    {% if post.metadata.has_key('abstract') %}
    {{ post.metadata['abstract'] }}
    {% else %}
    {{ post.content | limit(100) }}
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}
{% include 'include/paginator.html' %}
