/*----- Tags  -----*/
.tags {
    font-size: 0.8em;
    color: #888;
}

.tags a {
    color: #888;
    border-bottom: dotted 1px #888;
    margin-left: 10px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
}

.tags a:hover {
    color: black;
    border-bottom-color: black;
    margin-left: 10px;
}
.post.link-title-post{
    border:5px solid #3366CC;
}
